@media screen and (min-width: 600px){

    header{
        display: grid;
        grid-template-columns: 150px auto 150px;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
        width: 100%;
        max-width: 960px;
    }

    /* Specific rule for the siteplan. All others shoudl follow an aside-main template */
    #single {
        grid-template-columns: 1fr;
    }

	.navigation {
        display: flex;
		flex-direction: column;
        justify-content: space-around;
	}
    
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
}