@media screen and (min-width: 750px){

    header{
        display: grid;
        grid-template-columns: 200px auto 150px;
    }

    h1{
        align-content: center;
        width: 100%;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

    main {
        display: grid;
        grid-template-columns: 200px auto;
    }

    aside {
        /*border-left: 3px solid var(--accent2-color) ;*/
        display:block;
        background-color: var(--primary-color);
        padding-top: 65px;
        max-width: 200px;
        min-height: 1000px;
    }

    /* Specific rule for the siteplan. All others should follow an aside-main template */
    #single {
        grid-template-columns: 1fr;
    }

    #singlepage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 600px;
    
    }
    #singlepage h3 {
        grid-column: 1/-1;
        padding: 1rem;
    
    }

	.navigation {
        display: flex;
		flex-direction: column;
        justify-content: space-around;
	}
    
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(255px, 255px));
        grid-template-rows: auto;
        justify-content: start;
        max-width: 100%;
    }

    input[type="submit"]{
        grid-column: 1/-1;
    }

    #weatherPage {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
        grid-template-rows: auto;
        justify-content: start;
        width: 100%;
        max-width: 970px;
    }

}