/* Style sheet for Jamie Cummings personal page. WDD 131 */
:root {
    --primary-color: #000000;
    --secondary-color: white;
    --accent1-color: #e4cc7a;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Gupter', serif;
    --font-color-primary: #545255;
    --font-color-secondary: white;

    --nav-bg-color: var(--primary-color);
    --nav-link-color: var(--accent1-color);
    --nav-visited-color: #0d1c92;
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: var(--accent2-color);
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgb(239, 233, 233), rgb(139, 139, 135));
    height: 100%;
    /*border: 1px solid steelblue;*/
    /* temp */
}

header,
main,
footer {
    margin: 0 auto;
    width: 100%;
    font-family: var(--paragraph-font);
    font-weight: 400;
    background-color: white;
}

header,
footer {
    background-color: var(--secondary-color);
    min-height: max-content;
}

/* topbar does not include navigation */
#topbar {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: .5rem;
    text-align: center;
    margin: auto;
    color: #65678b;
}

h1,
h2,
h3 {
    padding: .5rem;
    text-align: center;
    margin: auto;
    background-color: var(--secondary-color);
}

h1 {
    min-width: fit-content;
    color: var(--font-color-primary);
    font-family: var(--heading-font);
    text-align: left;
    width: 100%;
    padding-left: 20px;
    font-size: 48px;
    font-weight: 800;
}

h2 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

h3 {
    color: var(--secondary-color-primary);
}

section, topbar {
    margin: 20px;
    padding: 10px;
    border: 1px solid var(--accent1-color);
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 0 10px gray;
}
section h3 {
    background-color:var(--accent1-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.hero {
    margin: 20px;
    border-radius: 0px;
    box-shadow: none;
}

.hero img {
    display: flex;
    width: 95%;
    height: auto;
    box-shadow: 0 0 30px gray;
    margin: auto;
}

figure {
    position: relative;
}

figure img {
    display: block;
    margin: auto;

}

figcaption {
    color: white;
    background-color: black;
    text-align: center;
    font-weight: 200;
    max-width: 200px;
    padding: 0px;
    margin: auto;
}

p {
    padding: 0;
}

li {
    list-style-position: inside;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
    text-align: center;
}

footer p {
    font-size: large;
    line-height: 0.2;
}