
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
}

#menu::before {
    content: "≡";
}

#menu.show::before {
    font-family: var(--nav-font);
    content: "x";
}

nav {
	background-color: black;
}

nav ul {
    list-style-type: none;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
    margin: auto;
}

nav a:link {
    color: white;
}

.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation a {
	display: inline-flex;
	padding: 1rem;
    vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	transition: 0.5s;
    color: white;
    width: 85%;
}

.navigation li {
	display: none;
}

.show li {
	display: flex;
    transition: display;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: #444;
}

nav .active {
    border-bottom: 5px solid var(--accent1-color);
    color: var(--font-color-secondary);
    text-decoration: none;
    text-align: center;
}

/*aside {
    max-width: 450px;
    float: right;
}*/

#joinChamber, #content {
    display: grid;
    grid-template-columns:1fr;
}

#discover, .gallery {
    max-width: 650px;
}

#discover {
    justify-content: end;
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer div {
    padding: 15px 15px;;
}

footer {
    grid-template-columns: 1fr;
}

footer p {
    margin-top: 10px;
    justify-items: left;
    justify-content: center;
}