main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
}

#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    background-color: #eee;
    color: #000;
}

#menu::before {
    content: "≡";
}

#menu.show::before {
    content: "❎";
}

nav {
	background-color: black;
}

nav ul {
    list-style-type: none;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
}

nav a:link {
    color: white;
}

.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation a {
	display: inline-flex;
	padding: 1rem;
    vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	transition: 0.5s;
    color: white;
    width: 85%;
}

.navigation a:hover, navigation a:active {
	color: black;
	background-color: white;
}

nav .active {
    background-color: rgb(210, 210, 161);
    color: rgb(63, 60, 60);
    text-decoration: none;
}

/*.navigation li {
	display: none;
}*/

/* nav ul{
    display: inline-flex;
    margin: auto;
    justify-content: space-evenly;
    width: 100%;
}

nav {
    background-color: var(--nav-bg-color);
    font-family: var(--heading-font);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
}

nav a:link {
    color: white;
}

nav a:hover {
    background-color: azure;
    color: rgb(63, 60, 60);
    text-decoration: none;
}

nav .active {
    background-color: rgb(210, 210, 161);
    color: rgb(63, 60, 60);
    text-decoration: none;
} */

/* .navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: inline-flex;
	padding: 1rem;
    vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	transition: 0.5s;
    color: white;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
} */



section {
    /*border: 1px solid var(--accent2-color);*/
    border-radius: 10px;
    /*temp*/
    box-shadow: 0 0 10px gray;
}

#coursework {
    max-width: 450px;
}

.course-credits {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: auto;
    border-bottom: 1px solid rgb(210, 210, 161);
}

.tally {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: auto;
    border-top: 2px solid rgb(210, 210, 161);
    font-weight: 700;
}

#location {}

#certificate-progress {}

#courseListOptions {
    display: flex;
    justify-content: space-between;
    margin: 10px auto 20px;
    max-width: 250px;
}

#courseListResults {
    /*display: flex;
    justify-content: space-evenly;*/
    display: grid;
    grid-template-columns: repeat(2, 150px);
    justify-content: space-around;
    column-gap: 40px;
    border-top: 1px solid gainsboro;
    margin: auto;
    max-width: 600px;
}

.true {
    display: flex;
    justify-content: center;
    background-color: rgb(210, 210, 161);
    padding: 10px 30px;
    border-radius: 5px;
}

.false {
    display: flex;
    justify-content: center;
    background-color: rgb(227, 205, 162);
    padding: 10px 30px;
    border-radius: 5px;
}